Source: ros-hydro-cob-grasp-generation
Section: misc
Priority: extra
Maintainer: Felix Messmer <fxm@ipa.fhg.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-moveit-msgs, ros-hydro-rospy, ros-hydro-std-msgs
Homepage: http://ros.org/wiki/cob_manipulation/
Standards-Version: 3.9.2

Package: ros-hydro-cob-grasp-generation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-geometry-msgs, ros-hydro-message-runtime, ros-hydro-moveit-msgs, ros-hydro-rospy, ros-hydro-std-msgs, ros-hydro-tf
Description: Grasp generation for Care-O-bot based on OpenRAVE
